.car-locate-page {

  .subText {
    font-size: 15px;
    font-weight: 100;
  }

  @mixin powerClass2($color) {
    background: $color;
    color: white;
    padding: 10px 12px;
    width: 60px;
    border-radius: 10px;
    text-align: center;
    position: absolute;
    top: 0;
    right: 0;
  }

  .green {
    @include powerClass2(#05b105);
  }

  .yellow {
    @include powerClass2(#f7c200);
  }

  .orange {
    @include powerClass2(#ff9c21);
  }

  .red {
    @include powerClass2(#ff6262);
  }
}
