.about {
    .toolbar-background {
        background: #fff;
        border-color: transparent;
    }
    .slide-zoom {
        height: 100%;
    }
    .slide-title {
        margin-top: 0;
        box-shadow: 0px -7px 6px #efefef;
        padding: 20px 0 0;
        position: relative;
    }
    .grey-bg {
        background-color: #fafafa;
    }
    .slide-image {
        max-height: 60%;
        max-width: 90%;
        margin: 0;
    }
    b {
        font-weight: 500;
    }
    p {
        padding: 0 40px;
        font-size: 14px;
        line-height: 1.5;
        color: #60646B;
        b {
            color: #000000;
        }
    }
}