.home {
  span.subText {
    color: grey;
  }
  @mixin powerClass($color) {
    background: $color;
    color: white;
    padding: 5px 12px;
    width: 60px;
    border-radius: 10px;
    text-align: center;
  }

  .green {
    @include powerClass(#05b105);
  }

  .yellow {
    @include powerClass(#f7c200);
  }

  .orange {
    @include powerClass(#ff9c21);
  }

  .red {
    @include powerClass(#ff6262);
  }
}
